<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.agilismobility.ugotflagged" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="12" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:hardwareAccelerated="false" android:name=".MainApplication">
		<activity android:name=".UI.UGotFlaggedActivity"
			android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".UI.FlagsActivity" 
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:screenOrientation="landscape">
		</activity>

		<activity android:name=".UI.LoginActivity"  
			android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop">
		</activity>
		
		<activity android:name=".UI.RegisterActivity"  
			android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop">
		</activity>

		<service android:enabled="true" android:name=".services.LoginService"></service>
		<service android:enabled="true" android:name=".services.RefreshService"></service>
		<service android:enabled="true" android:name=".services.ImageDownloadingService"></service>
		<service android:enabled="true" android:name=".services.FollowedUsersService"></service>
		<service android:enabled="true" android:name=".services.RegisterService"></service>


		<!-- Location Support -->
		<receiver android:name="com.agilismobility.utils.LocationChangedReceiver" />
		<receiver android:name="com.agilismobility.utils.PassiveLocationChangedReceiver" />
		<!-- Location Support -->

	</application>
</manifest>